#mfPreviewBar {
  display: none;
}
* {
  box-sizing: border-box;
}
.fwl {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.fwr,
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  /*font-weight: 300;*/
}
.fwb,
.site-logo a,
.site-menu-text,
.news-column-title,
.shortcut-title,
.nav-contact-title,
.slide-title,
.icon-text span,
.slide-link {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
}
.fwm,
.slide-text p {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.sprite,
.icon-right,
.slide-icon span {
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
}
.icon-leaf {
  background-position: -78px -36px;
  width: 16px;
  height: 23px;
}
.active-icon .icon-leaf {
  background-position: -78px -1px;
}
.icon-signal {
  background-position: -104px -36px;
  width: 25px;
  height: 20px;
}
.active-icon .icon-signal {
  background-position: -104px -5px;
}
.icon-server {
  background-position: -139px -36px;
  width: 16px;
  height: 18px;
}
.active-icon .icon-server {
  background-position: -139px -7px;
}
.icon-pawn {
  background-position: -165px -36px;
  width: 17px;
  height: 20px;
}
.active-icon .icon-pawn {
  background-position: -165px -5px;
}
.icon-cart {
  background-position: -192px -36px;
  width: 22px;
  height: 21px;
}
.active-icon .icon-cart {
  background-position: -192px -4px;
}
.icon-bell {
  background-position: -224px -36px;
  width: 25px;
  height: 22px;
}
.active-icon .icon-bell {
  background-position: -224px -3px;
}
.icon-tower {
  background-position: -259px -36px;
  width: 17px;
  height: 21px;
}
.active-icon .icon-tower {
  background-position: -259px -4px;
}
.icon-hat {
  background-position: -286px -36px;
  width: 25px;
  height: 19px;
}
.active-icon .icon-hat {
  background-position: -286px -6px;
}
.icon-right {
  background-position: -341px -45px;
  width: 7px;
  height: 11px;
}
.icon-bigben {
  background-position: 0 0;
  width: 21px;
  height: 43px;
}
.icon-news {
  background-position: -29px -14px;
  width: 29px;
  height: 29px;
}
.icon-document {
  background-position: -1px -69px;
  width: 23px;
  height: 31px;
}
.icon-document-large {
  background-position: 0 -120px;
  width: 46px;
  height: 62px;
}
.icon-folder {
  background-position: -56px -68px;
  width: 72px;
  height: 57px;
}
.icon-arrow-down {
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
  background-position: -327px -5px;
  width: 35px;
  height: 19px;
}
body {
  color: #444444;
  min-width: 1024px;
}
.page-header {
  position: fixed;
  height: 85px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
  background-color: #ffffff;
  justify-content: space-between;
  display: flex;
}
.site-logo {
  line-height: 85px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.site-logo a {
  font-size: 40px;
  text-decoration: none;
  color: #444444;
}
.site-menu-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  z-index: 250;
  width: 170px;
  height: 85px;
  text-align: right;
  padding-right: 30px;
}
.site-menu-text {
  opacity: 0;
  text-transform: uppercase;
  line-height: 85px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 300;
  transform: translateY(0);
  transition: transform 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1), color 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1), .5s;
  position: relative;
}
.site-menu-text:before {
  content: "Close";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(60px);
  opacity: 0;
  transition: transform 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), color 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-active .site-menu-text {
  transform: translateY(-60px);
  color: #ffffff;
}
.menu-active .site-menu-text:before {
  transform: translateY(60px);
  opacity: 1;
  color: #ffffff;
  transition: transform 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.site-menu-icon {
  width: 24px;
  height: 17px;
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
}
.site-menu-icon span {
  width: 24px;
  height: 2px;
  background-color: #444444;
  position: absolute;
  left: 0;
  transition: transform 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.4s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon-bar-1 {
  top: 0;
}
.menu-active .menu-icon-bar-1 {
  transform: translateY(-20px);
  opacity: 0;
}
.site-menu-icon .menu-icon-bar-2,
.site-menu-icon .menu-icon-bar-3 {
  top: 8px;
  transition: transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-active .site-menu-icon .menu-icon-bar-2,
.menu-active .site-menu-icon .menu-icon-bar-3 {
  background-color: #ffffff;
  transition: transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.3s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-active .menu-icon-bar-2 {
  transform: rotate(-45deg);
}
.menu-active .menu-icon-bar-3 {
  transform: rotate(45deg);
}
.menu-icon-bar-4 {
  top: 16px;
}
.menu-active .menu-icon-bar-4 {
  transform: translateY(20px);
  opacity: 0;
}
.site-menu-wrap {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 170px;
  height: 85px;
  background-color: transparent;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  transform: translateZ(0);
}
.site-menu-wrap.menu-active {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.site-menu-wrap.menu-hovered {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.site-menu {
  width: 100%;
  height: 100%;
  font-size: 0;
  overflow: hidden;
}
.menu-column {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  opacity: 0;
}
.menu-active .menu-column {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.news-column {
  background-color: #ffffff;
  transform: translateX(-100%);
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav-column {
  transform: translateX(100%);
}
.news-column-title,
.shortcut-title,
.nav-contact-title {
  padding: 30px;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(71, 75, 82, 0.5);
  letter-spacing: 0.06em;
  border-bottom: 1px solid #DDD;
}
.news-item {
  border-bottom: 1px solid #DDD;
  font-size: 0;
  display: block;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ffffff;
}
.news-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  z-index: 2;
  position: relative;
}
.news-item > * {
  font-size: initial;
}
.news-meta,
.news-excerpt,
.news-image {
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
  padding-bottom: 55px;
}
.news-meta {
  width: 31%;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #444444;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.news-icons {
  padding-top: 30px;
  text-align: center;
}
.news-icons span {
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}
.news-excerpt {
  width: 41%;
  font-size: 14px;
  line-height: 1.3;
}
.news-excerpt h2 {
  color: #444444;
  margin-bottom: 20px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
}
.news-excerpt p {
  color: #444444;
}
.news-image {
  width: 28%;
}
.news-image span {
  /*background-image: url(../img/sprite_preview.png);*/
  background-repeat: no-repeat;
  margin: auto;
  display: block;
}
.news-image-1 {
  background-position: -258px -75px;
  width: 104px;
  height: 70px;
}
.news-image-2 {
  background-position: -144px -75px;
  width: 104px;
  height: 104px;
}
.news-image-3 {
  background-position: -144px -189px;
  width: 104px;
  height: 104px;
}
.news-image-4 {
  background-position: -258px -189px;
  width: 104px;
  height: 104px;
}
.news-image-5 {
  background-position: -144px -303px;
  width: 104px;
  height: 104px;
}
.news-image-6 {
  background-position: -258px -303px;
  width: 104px;
  height: 104px;
}
.news-image-q {
  background-position: -258px -75px;
  width: 104px;
  height: 104px;
}
.site-nav {
  background-color: #00a6ab;
  height: 50%;
  padding-top: 60px;
}
.site-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  padding: 15px 30px;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.site-nav a:hover {
  transform: translateX(10px);
}
.nav-extras {
  width: 100%;
  height: 50%;
  font-size: 0;
}
.nav-shortcut {
  height: 50%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  transform: translateY(100%);
  opacity: 0;
  background-color: #ffffff;
  text-decoration: none;
}
.menu-active .nav-shortcut {
  transform: translateY(0);
  opacity: 1;
}
.menu-active .nav-shortcut:hover {
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  z-index: 2;
  position: relative;
}
.nav-shortcut.sc-hovered {
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  /*color: #fff;*/
  /*background: #00a6ab;*/
}
.nav-shortcut.sc-hovered h3{
  top: calc(50% - 80px);
  transition: .5s;
}
.nav-shortcut h3 {
  position: absolute;
  font-size: 14px;
  color: #00a6ab;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-align: center;
  /*margin-top: 15px;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: .5s;
}
.nav-shortcut-1 {
  transition: transform 1.4s 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.4s 1s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-shortcut-1:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}
.nav-shortcut-2 {
  transition: transform 1.4s 1.2s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.4s 1.2s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.shortcut-title {
  border: 0;
  display: block;
  padding: 15px 30px 30px;
}
.short-cut-icon {
  display: block;
  margin: auto;
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
}
.nav-contact {
  width: 100%;
  height: 50%;
  transform: translateY(100%);
  opacity: 0;
  border-top: 1px solid #ddd;
  transition: transform 1.4s 1.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.4s 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-active .nav-contact {
  transform: translateY(0);
  opacity: 1;
}
.contact-columns {
  font-size: 0;
}
.contact-columns > * {
  font-size: initial;
}
.nav-contact-title {
  border: 0;
  padding: 15px 30px 30px;
  display: block;
}
.contact-details,
.contact-address {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 30px;
}
.contact-details a,
.contact-address a {
  display: block;
  color: #00a6ab;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.contact-details a:hover,
.contact-address a:hover {
  color: #13868a;
}
.contact-address {
  width: 25%;
  padding-left: 15px;
}
.contact-address h3 {
  color: #00a6ab;
  font-size: 14px;
  letter-spacing: .06em;
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-address p {
  line-height: 1.4;
  font-size: 14px;
}
.section {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.fp-tableCell {
  position: relative;
}
#fp-nav {
  z-index: 10;
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
#fp-nav.slide-5-active {
  opacity: 0;
  pointer-events: none;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: transparent;
  border: 2px solid #5a666f;
  width: 12px;
  height: 12px;
  margin: 17px 0;
  display: block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  margin: 35px 0;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 12px;
  height: 12px;
  margin: 17px 0;
  background-color: #5a666f;
}
.slide-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 640px;
}
.slide-title {
  color: #5a666f;
  /*color: #00a6ab;*/
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
  transform: translateX(-100px);
  opacity: 0;
  transition: opacity 1.4s 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 1.4s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.is-active .slide-title {
  transform: translateX(0);
  opacity: 1;
}
.slide-title span {
  padding: 10px;
  position: relative;
}
.slide-title span:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
}
.slide-desc {
  transform: translateX(-100px);
  opacity: 0;
  transition: opacity 1.4s 1.3s cubic-bezier(0.23, 1, 0.32, 1), transform 1.4s 1.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.is-active .slide-desc {
  transform: translateX(0);
  opacity: 1;
}
.slide-icons {
  display: block;
  font-size: 0;
}
.slide-icon {
  width: 40px;
  height: 40px;
  background-color: #00a6ab;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.slide-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-position 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.icon-text {
  display: inline-block;
  color: #ffffff;
  position: relative;
  height: 40px;
  width: 50%;
  perspective: 50em;
  -webkit-perspective: 50em;
}
.icon-text span {
  background-color: #13868a;
  padding: 0 17px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .08em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 1.4s 0.15s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.4s 0.15s cubic-bezier(0.23, 1, 0.32, 1);
  font-weight: normal;
}
.icon-text span.active-icon {
  opacity: 1;
}
.slide-text {
  text-align: right;
  max-width: 550px;
}
.slide-text p {
  background-color: #ffffff;
  padding: 10px;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}
.slide-link {
  display: inline-block;
  background-color: #00a6ab;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  padding: 15px;
  letter-spacing: .08em;
  cursor: pointer;
  transition: ;
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity 1.4s 1.8s cubic-bezier(0.23, 1, 0.32, 1), transform 1.4s 1.8s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  font-weight: normal;
}
.is-active .slide-link {
  transform: translateX(0);
  opacity: 1;
}
.slide-link:hover {
  background-color: #13868a;
}
.slide-link span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.slide-1 {
  position: relative;
}
.slide-1:before,
.slide-1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: opacity 1.4s 2.5s cubic-bezier(0.23, 1, 0.32, 1), transform 1.4s 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-1:before {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: #ffffff;
}
.slide-1:after {
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
  background-position: -327px -5px;
  width: 35px;
  height: 19px;
  bottom: 10px;
}
.slide-1.is-active:before,
.slide-1.is-active:after {
  opacity: 1;
  transform: translate(-50%, 60%);
}
.slide-1.is-active:after {
  transform: translate(-50%, 0);
}
.content-panels {
  font-size: 0;
  height: 92%;
  width: 100%;
  position: relative;
  z-index: 20;
}
.content-panels > * {
  font-size: initial;
}
.panel {
  display: inline-block;
  vertical-align: top;
  height: 50%;
  width: 25%;
  /*background-color: #F6F6F6;*/
  background-color: #ffffff;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 35px 70px;
  transform: translateY(30px);
  opacity: 0;
  transition: box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel:nth-child(even) {
  background-color: #ffffff;
}
.panel:nth-child(2) {
  background-color: #ffffff;
  transition-delay: 0s, 1s, 1s;
}
.panel:nth-child(3) {
  background-color: #ffffff;
  transition-delay: 0s, 1.2s, 1.2s;
}
.panel:nth-child(4) {
  background-color: #ffffff;
  transition-delay: 0s, 1.4s, 1.4s;
}
.panel:nth-child(5) {
  background-color: #ffffff;
  transition-delay: 0s, 0s, 1.6s, 1.6s;
}
.panel:nth-child(6) {
  background-color: #ffffff;
  transition-delay: 0s, 0s, 1.8s, 1.8s;
}
.is-active .panel {
  transform: translateY(0);
  opacity: 1;
}
.is-active .panel:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  z-index: 300;
}
.panel.hovered {
  transition: box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel h3 {
  font-size: 16px;
  margin-bottom: 30px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.panel p {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.panel .button {
  width: 140px;
  height: 30px;
  text-align: center;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
  color: #00a6ab;
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .06m;
  text-decoration: none;
  line-height: 30px;
}
.panel-wide {
  width: 50%;
}
.panel-image {
  display: block;
  margin: auto auto 30px;
  /*background-image: url(../img/sprite_preview.png);*/
  background-repeat: no-repeat;
}
.panel-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  color: rgba(71, 75, 82, 0.5);
  text-transform: uppercase;
  letter-spacing: .06em;
  padding: 15px 30px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
}
.footer {
  height: 8%;
  background-color: #00a6ab;
  display: flex;
  justify-content: space-between;
}
.footer a,
.footer span {
  color: #ffffff;
  font-weight: 300;
  line-height: 67px;
  padding: 0 30px;
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.footer a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .06em;
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.footer a:hover {
  transform: translateY(-5px);
}
.panel-wide {
  transform: translateY(30px);
  opacity: 0;
  transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  overflow: hidden;
  padding: 30px;
  cursor: default;
}
.panel-wide h2 {
  color: #00a6ab;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
  transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel-wide .panel-title,
.panel-wide h4 {
  transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel-wide h3 {
  font-size: 18px;
}
.is-active .panel-wide:hover {
  box-shadow: none;
  transform: none;
  background-color: #00a6ab;
  color: #ffffff;
}
.is-active .panel-wide:hover h2,
.is-active .panel-wide:hover .panel-title {
  color: #ffffff;
  font-weight: normal;
}
.is-active .panel-wide:hover h4 {
  color: #444444;
}
.is-active .panel-wide:hover .panel-heading {
  transform: translate(-50%, 0);
}
.is-active .panel-wide:hover .icon-document-largest {
  opacity: 0;
  transform: translateY(-50%);
}
.is-active .panel-wide:hover .panel-list,
.is-active .panel-wide:hover .panel-download {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.is-active .panel-wide:hover .panel-download {
  transition: opacity 0.8s 0.5s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel-heading {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 160px);
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.icon-document-largest {
  background-position: 0 -295px;
  width: 78px;
  height: 106px;
  margin: 60px auto;
  left: 0;
  right: 0;
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
}
.panel-content {
  font-size: 0;
  padding-top: 135px;
}
.panel-content > * {
  font-size: initial;
}
.panel-list,
.panel-download {
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel-list {
  text-align: left;
  width: 74%;
  padding: 10px 50px;
}
.panel-list h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .04em;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: normal;
  margin-bottom: 20px;
}
.panel-list li {
  font-size: 14px;
  color: #ffffff;
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
  font-weight: 300;
}
.panel-list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
  background-position: -341px -45px;
  width: 7px;
  height: 11px;
}
.panel-download {
  width: 26%;
}
.download-icon {
  background-image: url(../img/sprite_preview.png);
  background-repeat: no-repeat;
  margin: 30px auto;
  background-position: 0 -198px;
  width: 59px;
  height: 80px;
}
.panel-download-button {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.panel-download-button:hover {
  background-color: #ffffff;
  color: #00a6ab;
}

.slide-1 .slide-title{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}
.name{
  padding: 0 !important;
  font-weight: 400;
  font-size: 18px;
}
.phonetic{
  padding: 0 !important;
  font-size: 14px;
}
.links-menu{
  margin-top: 20px;
  line-height: 20px;
}
.links-item{
  padding: 8px;
  margin: 0 2px;
  text-decoration: none;
  color: #2d9cd0;
}
.links-item:hover{
  background-color: rgba(153, 153, 153, 0.2);
}
.friends-list a{
  text-decoration: none;
  color: #ffffff;
}
.friends-list a:hover{
  text-decoration: underline;;
}
.news-title{
  font-size: 14px;
  font-weight: 400;
}
.news-summary{
  font-size: 12px;
  font-weight: 300;
}
.nav-donate-img{
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .8s;
}
.nav-shortcut.sc-hovered .nav-donate-img{
  opacity: 1;
  transition: .8s;
}

@media screen and (max-width: 480px) {
    body {
        min-width: 0;
    }

    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span,
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 8px;
      height:8px;
      margin: 15px 0;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span{
      border: 1px solid #5a666f;
      width: 8px;
      height: 8px;
      margin: 15px 0;
    }
    .panel{
      width: 50%;
      padding: 0;
    }

    .panel .button{
      width: 80px;
    }

    .panel-wide,
    .footer a,
    .contact-address{
      display: none;
    }

    .news-excerpt{
      width: 60%;
    }

    .news-image-1{
      height: 30px;
    }
}
@media screen and (max-width: 768px) {
    body {
        min-width: 0;
    }
}
