html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-size: 62.5%;
    color: var(--primary);
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
}

::selection {
    background: #bdd2b6;
}

:root {
    --background: #fff;
    --primary: #353535;
    --light-grey: #f6f6f6;
    --pad: 0.7vw;
    --fast: 600ms;
    --ease: cubic-bezier(0.77, 0, 0.18, 1);
}

main {
    padding: 0 2.5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.pt2 {
    padding-top: 2rem;
}

.td-underline {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding-inline-start: 3rem;
    li {
        padding: 0.2rem 0;
    }
}


#jazz {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 10vh;

    #logo {
        cursor: pointer;

        svg {
            padding: 0 0.2rem;

            polygon {
                fill: var(--primary);
            }
        }
    }

    #domain {
        padding: 0 0.5rem;
    }

    #about {
        #where {
            display: flex;
            font-weight: bold;
            cursor: pointer;
        }

        #contact {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 5rem;

            p {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}

#where .location {
    padding: 0 1rem;
}

#postrock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;

    #name {
        font-family: 'Oxygen', sans-serif;
        font-size: 13vw;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    #resume {
        // width: 70vw;
        // padding: 0 3vw;
        font-size: 1.6rem;
        margin-bottom: 20vh;

        .chapter {
            display: flex;
            justify-content: space-between;

            .chapter-title {
                font-weight: bold;
                font-size: 2.4rem;
                padding: 2rem 0;
                width: 15vw;
                border-top: 1px solid var(--primary);
                height: fit-content;
                cursor: pointer;
            }

            .sections {
                width: 65vw;

                .section {
                    border-top: 1px solid var(--primary);
                    // margin-top: 2rem;

                    .title {
                        font-weight: bold;
                        padding: 2rem 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;

                        .where_when {
                            width: 50%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .where {
                                visibility: hidden;
                                opacity: 0.8;
                                &.vis {
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        max-height: 0;
                        overflow: hidden;
                        transition: all var(--fast) var(--ease);

                        &.vis {
                            padding-bottom: 2rem;
                            max-height: 24rem;
                        }
                    }
                }
            }
        }
    }

    #copyright {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    #jazz {
        padding-bottom: 10vh;
    }

    #postrock {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;

        #name {
            font-size: 22vw;
            margin-bottom: 2rem;
        }

        #resume {
            width: calc(100vw - 5rem);
            padding: 0;

            .chapter {
                .chapter-title {
                    width: 25vw;
                }

                .sections {
                    width: 75vw;
                }
            }
        }

        #copyright {
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 1rem;
    }
    #postrock {
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;

        #name {
            font-size: 22vw;
            margin-bottom: 2rem;
        }

        #resume {
            width: calc(100vw - 2rem);
            margin-bottom: 10vh;

            .chapter {
                .chapter-title {
                    writing-mode: vertical-lr;
                    width: fit-content;
                    padding-right: 1rem;
                }

                .sections {
                    width: 90vw;
                }
            }
        }

        #copyright {
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    #jazz {
        padding-bottom: 10vh;

        #domain {
            display: none;
        }

        #contact {
            font-size: 1.4rem;
        }
    }

    #postrock {
        #name {
            font-size: 20vw;
            margin-bottom: 2rem;
        }

        #resume {
            padding: 0;
            margin-bottom: 2rem;
            font-size: 1.4rem;

            .chapter {
                .chapter-title {
                    font-size: 2rem;
                }
            }

            .where_when {
                flex-direction: row-reverse;

                .where {
                    display: none;
                }
            }
        }
    }
}
