html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

::selection {
  background: #bdd2b6;
}

main {
  padding: 78px 125px;
  display: flex;
  flex-direction: column;
}

.row {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.name {
  font-size: 32px;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 78px 25px;
  }
}