html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-size: 62.5%;
    color: var(--primary);
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
}

::selection {
    background: #bdd2b6;
}

:root {
    --background: #fff;
    --primary: #353535;
    --light-grey: #f6f6f6;
    --pad: 0.7vw;
    --fast: 500ms;
    --ease: cubic-bezier(0.77, 0, 0.18, 1);
}

main {
    padding: 0 2.5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#jazz {
    /* height: 100vh */
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-top: 2rem;
}

#jazz #logo {
    cursor: pointer;
}

#jazz #logo svg {
    padding: 0 0.2rem;
}

#jazz #logo svg polygon {
    fill: var(--primary);
}

#jazz #domain {
    padding: 0 0.5rem;
}

#jazz #about #where {
    display: flex;
    font-weight: bold;
    cursor: pointer;
}

#jazz #about #contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
}
#jazz #about #contact p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#where .location {
    padding: 0 1rem;
}
#postrock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4rem;
    align-items: flex-end;
}

#postrock #name {
    font-family: 'Oxygen', sans-serif;
    font-size: 13vw;
    font-weight: bold;
}

#postrock #resume {
    width: 61.8vw;
    font-size: 1.6rem;
}

#postrock #resume .section {
    border-top: 1px solid var(--primary);
}

#postrock #resume .section .title {
    font-weight: bold;
    font-style: italic;
}

#postrock #resume .section p {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#postrock #copyright {
    font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
    #postrock #name {
        font-size: 22vw;
    }
}

@media screen and (max-width: 480px) {
    #postrock #name {
        font-size: 20vw;
    }

    #jazz #domain {
        display: none;
    }
}
