html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

main {
  font-family: "Lora", serif;
  height: calc(100vh - 164px);
  margin: 30px 30px;
  padding: 52px 78px;
  display: flex;
  flex-direction: column;
  background-color: #ffeeee;
  justify-content: space-between;
}

#love {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

#together {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#you {
  margin-left: 152px;
}

#you .lyssyl {
  font-weight: 500;
  font-style: italic;
  font-size: 52px;
  color: #965455;
  padding: 9px 0;
}

#so {
  color: #335c67;
  /* 335C67, 6583a8 */
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  main {
    padding: 30px 30px;
    height: calc(100vh - 120px);
  }

  #you {
    margin: 0 auto;
  }
  #you .lyssyl {
    font-size: 36px;
  }
}

@media screen and (max-width: 350px) {
  #love {
    flex-direction: column;
    font-size: 16px;
  }

  #together {
    align-items: flex-start;
    padding-top: 20px;
  }
}
